<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新規登録</title>
</head>
<body>
    <h2>新しい観光スポットを登録</h2>
    <form action="/tokyo" method="POST">
        <label>スポット名: <input type="text" name="name" required></label><br>
        <label>ジャンル: <input type="text" name="type"></label><br>
        <label>料金: <input type="text" name="fee"></label><br>
        <label>アクセス: <input type="text" name="access"></label><br>
        <br>
        <input type="submit" value="登録する">
    </form>
    <a href="/tokyo">一覧に戻る</a>
</body>
</html>